body {
  margin: 0;
}

.container {
  background-image: url("./../assets/nature-wallpapers-38.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
}

@media screen and (min-width: 768px) {
  .container {
    background-color: yellow;
    height: 50vh;
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    background-color: aqua;
    width: 33%;
  }
}
